<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Econovation Recruit</title>
</head>
<body style="margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif; background: #f6f8fa; display: flex; justify-content: center; align-items: flex-start; min-height: 100vh;">
<div style="background-color: #fff; width: 90%; max-width: 800px; margin-top: 60px; margin-bottom: 60px; border-radius: 8px; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); padding: 40px 30px; text-align: center;">

    <!-- 로고 -->
    <img alt="econo-3d-logo" width="114" height="143" style="color:transparent; margin:auto; display:block;" src="https://recruit.econovation.kr/images/econo-3d-logo.png">

    <!-- 제목 -->
    <h1 style="font-weight: 800; font-size: 32px; margin-bottom: 20px;">신입 모집 서류 결과 안내</h1>

    <!-- 본문 내용 -->
    <div style="font-size: 16px; line-height: 1.6; margin-bottom: 20px;">
        안녕하세요. <span th:text="${name}"></span>님! 전남대학교 IT 개발동아리 에코노베이션 입니다.
        <br /><br />
        먼저 에코노베이션 <span th:text="${year}"></span>기 신입 회원 모집에 관심을 가지고 지원해주셔서 진심으로 감사드립니다.
        <br /><br />
        혹시 이번 모집 과정 중 저희가 의도치 않게 불편을 드린 점은 없었는지 여러모로 마음이 쓰입니다. 아쉽게도 이번에는 좋은 결과를 전해드리지 못하게 되었습니다.
        <br /><br />
        열정을 가지고 지원해 주신 모든 분과 함께할 수 있기를 바라고 있습니다만, 선발 규모 대비 많은 분이 지원해 주셔서 모든 분께 기회를 드릴 수 없었던 점 양해 부탁드립니다.
        <br /><br />
        비록 이번에는 좋은 만남을 이어나갈 수 없게 되었지만, 이후 더욱 성장한 모습으로 다시금 만날 수 있기를 바라며 지원자님의 앞날에 진심 어린 응원의 마음을 전합니다.
        <br /><br />
        아울러 제출해주신 개인정보는 1년의 수집기간 이후 모두 폐기할 것을 약속 드리며, 추후 재지원에 대한 불이익은 없을 것입니다.
        <br /><br />
        앞으로도 에코노베이션에 많은 관심을 가져주시기 바라며, 더 좋은 기회에 다시 인연이 닿기를 기대합니다.
        <br /><br />
        감사합니다.
    </div>
</div>
</body>
</html>