<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Applicant Information</title>
  <style type="text/css">
    /*@font-face {*/
    /*  src: url('NanumBarunGothic.ttf');   !* 폰트경로지정 *!*/
    /*  -fs-pdf-font-embed: embed;*/
    /*  -fs-pdf-font-encoding: Identity-H;*/
    /*}*/
    body {
      width: 100%;
      font-size: 12px;
      font-weight: lighter;
      color:#000;
      line-height:180%;
      font-family: NanumBarunGothic,serif;
    }

    img {border: 0 none;}

    table {
      width: 100%;
      border: 0.5px solid #c7c7cb;
      border-collapse: collapse;
    }
    th, td {
      border: 0.5px solid #c7c7cb;
      padding: 10px;
      word-break:break-all;
    }
  </style>
</head>
<body>
<h1>Applicant Information</h1>
<div>
  <div style="text-align: center; padding: 25px">
    <img
            width="244"
            alt="en-banner-black"
            src="https://asset.dudoong.com/common/en-banner-black.png"
    />
  </div>
  <div style="background: #c7c7cb; height: 1px; margin-bottom: 20px"></div>
</div>
<table
        style="border-collapse: collapse; width: 98.4277%; height: 248px"
        border="1"
>
  <tbody>
  <tr style="">
    <td style="width: 50%; ">이름</td>
    <td style="width: 50%; ">${applicantPdfDto.name}</td>
  </tr>
    <tr style="">
        <td style="width: 50%; ">연락처</td>
        <td style="width: 50%; ">${applicantPdfDto.contacted}</td>
    </tr>
    <tr style="">
        <td style="width: 50%; ">학번</td>
        <td style="width: 50%; ">${applicantPdfDto.classOf}</td>
    </tr>
    <tr style="">
        <td style="width: 50%; ">학년</td>
        <td style="width: 50%; ">${applicantPdfDto.grade}</td>
    </tr>
    <tr style="">
        <td style="width: 50%; ">학기</td>
        <td style="width: 50%; ">${applicantPdfDto.semester}</td>
    </tr>
    <tr style="">
        <td style="width: 50%; ">전공</td>
        <td style="width: 50%; ">${applicantPdfDto.major}</td>
    </tr>
    <tr style="">
        <td style="width: 50%; ">복수전공</td>
        <td style="width: 50%; ">${applicantPdfDto.doubleMajor}</td>
    </tr>
    <tr style="">
        <td style="width: 50%; ">부전공</td>
        <td style="width: 50%; ">${applicantPdfDto.minor}</td>
    </tr>
    <tr style="">
        <td style="width: 50%; ">활동</td>
        <td style="width: 50%; ">${applicantPdfDto.activity}</td>
    </tr>
    <tr style="">
        <td style="width: 50%; ">지원경로</td>
        <td style="width: 50%; ">${applicantPdfDto.channel}</td>
    </tr>
    <tr style="">
        <td style="width: 50%; ">지원동기</td>
        <td style="width: 50%; ">${applicantPdfDto.reason}</td>
    </tr>
    <tr style="">
        <td style="width: 50%; ">지원후 포부</td>
        <td style="width: 50%; ">${applicantPdfDto.future}</td>
    </tr>
    <tr style="">
        <td style="width: 50%; ">지원경험</td>
        <td style="width: 50%; ">${applicantPdfDto.experience}</td>
    </tr>
    <tr style="">
        <td style="width: 50%; ">지원경험 기타</td>
        <td style="width: 50%; ">${applicantPdfDto.experienceTextarea}</td>
    </tr>
    <tr style="">
        <td style="width: 50%; ">지원목표</td>
        <td style="width: 50%; ">${applicantPdfDto.goal}</td>
    </tr>
    <tr style="">
            <td style="width: 50%; ">지원분야</td>
            <td style="width: 50%; ">${applicantPdfDto.deep}</td>
    </tr>
    <tr style="">
        <td style="width: 50%; ">협업경험</td>
        <td style="width: 50%; ">${applicantPdfDto.collaboration}</td>
    </tr>
    <tr style="">
        <td style="width: 50%; ">포트폴리오</td>
        <td style="width: 50%; ">${applicantPdfDto.portfolio}</td>
    </tr>
    <tr style="">
        <td style="width: 50%; ">포트폴리오 파일</td>
        <td style="width: 50%; ">${applicantPdfDto.fileUrl}</td>
    </tr>
    <tr style="">
        <td style="width: 50%; ">포트폴리오 파일(기획자용)</td>
        <td style="width: 50%; ">${applicantPdfDto.fileUrlforPlanner}</td>
    </tr>
    <tr style="">
        <td style="width: 50%; ">이메일</td>
        <td style="width: 50%; ">${applicantPdfDto.email}</td>
    </tr>
    <tr style="">
        <td style="width: 50%; ">지원동의</td>
        <td style="width: 50%; ">${applicantPdfDto.check}</td>
    </tr>
    <tr style="">
        <td style="width: 50%; ">개인정보동의</td>
        <td style="width: 50%; ">${applicantPdfDto.personalInformationAgree}</td>
    </tr>
    <tr style="">
        <td style="width: 50%; ">개인정보동의(포트폴리오)</td>
        <td style="width: 50%; ">${applicantPdfDto.personalInformationAgreeForPortfolio}</td>
    </tr>
  </tbody>
  <div style="padding-right: 20px">
    <div style="text-align: right;">
      The Econovation Developers
    </div>
    <div style="text-align: right;" th:text="${#temporals.format(now, 'yyyy년 MM월 dd일')}">
      yyyy년 MM월 dd일
    </div>
  </div>
</body>
</html>

<!--
        return ApplicantPdfDto.builder()
                .field(result.get("field"))
                .field1(result.get("field1"))
                .field2(result.get("field2"))
                .name(result.get("name"))
                .contacted(result.get("contacted"))
                .classOf(result.get("classOf"))
                .grade(result.get("grade"))
                .semester(result.get("semester"))
                .major(result.get("major"))
                .doubleMajor(result.get("doubleMajor"))
                .minor(result.get("minor"))
                .activity(result.get("activity"))
                .channel(result.get("channel"))
                .reason(result.get("reason"))
                .future(result.get("future"))
                .experience(result.get("experience"))
                .experienceTextarea(result.get("experienceTextarea"))
                .goal(result.get("goal"))
                .deep(result.get("deep"))
                .collaboration(result.get("collaboration"))
                .portfolio(result.get("portfolio"))
                .fileUrl(result.get("fileUrl"))
                .fileUrlforPlanner(result.get("fileUrlforPlanner"))
                .email(result.get("email"))
                .check(result.get("check"))
                .personalInformationAgree(result.get("personalInformationAgree"))
                .personalInformationAgreeForPortfolio(result.get("personalInformationAgreeForPortfolio"))
                .build();
    }
-->