<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Econovation Recruit</title>
</head>
<body style="margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif; background: #f6f8fa; display: flex; justify-content: center; align-items: flex-start; min-height: 100vh;">
<div style="background-color: #fff; width: 90%; max-width: 800px; margin-top: 60px; margin-bottom: 60px; border-radius: 8px; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); padding: 40px 30px; text-align: center;">

  <!-- 로고 -->
  <img alt="econo-3d-logo" width="114" height="143" style="color:transparent; margin:auto; display:block;" src="https://recruit.econovation.kr/images/econo-3d-logo.png">

  <!-- 제목 -->
  <h1 style="font-weight: 800; font-size: 32px; margin-bottom: 20px;">신입 모집 최종 결과 안내</h1>

  <!-- 본문 내용 -->
  <div style="font-size: 16px; line-height: 1.6; margin-bottom: 20px;">
    안녕하세요. <span th:text="${name}">님</span><br />
    전남대학교 IT 개발동아리 에코노베이션 입니다.
    <br /><br />
    에코노베이션 <span th:text="${year}"></span>기 신입 회원 모집에 최종 합격하신 것을<br />
    <b>진심으로 축하드립니다!</b>
    <br />
  </div>

  <!-- 구분선 -->
  <div style="width: 100%; max-width: 200px; margin: 20px auto; border-top: 1px solid #e0e0e0;"></div>

  <!-- 면접 안내 -->
  <div style="font-size: 16px; line-height: 1.6; margin-bottom: 20px;">
    에코노베이션에 대한 소개를 담은 포트폴리오를 메일에 첨부하였으니 OT 시작 전 확인해주시기를 바랍니다.
    <br /><br />
    에코노베이션은 다양한 프로젝트와 스터디에 GitHub을 사용하고 있으니 원활한 동아리 활동을 위해 OT 전 꼭 Github에 가입해주시길 바랍니다.
    <br /><br />
  </div>


  <div style="width: 100%; max-width: 200px; margin: 20px auto; border-top: 1px solid #e0e0e0;"></div>

  <div style="font-size: 16px; line-height: 1.6; margin-bottom: 20px;">
    사전에 안내해 드린 대로 OT가 진행될 예정입니다. <br />
    <b style="font-weight: 700;">OT는 대면으로 진행되며, 일정에 대해 잘 숙지하시고 반드시 참여해주시기를 바랍니다.</b><br /><br />
    <b>OT 일정</b>
    <br /><br />
    - 일시 : <span th:datetime="${datetime}"></span>
    <br />
    - 장소 : <span th:text="${place}"></span>
    <br /><br />
    메일 확인 후 참석 여부에 대한 회신 부탁드립니다.
    <br /><br />
    예) 확인, 참석합니다.
    <br /><br />
    기타 문의 사항이 있으시면 카카오톡 채널 '에코노베이션'을 이용해 주시기 바랍니다.
  </div>
</div>
</body>
</html>