spring:
  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}
    password: ${REDIS_PASSWORD:}
slack:
  webhook:
    token: ${SLACK_WEBHOOK_TOKEN:}
    id: ${SLACK_WEBHOOK_ID:}
    channel :  ${SLACK_SERVICE_CHANNEL_ID:}
    username: ${SLACK_WEBHOOK_USERNAME:RecruitBot}
    icon-url: ${SLACK_WEBHOOK_ICON_URL:}
  tf:
    token: ${SLACK_TF_WEBHOOK_TOKEN:}
    id: ${SLACK_TF_WEBHOOK_ID:}
    channel: ${SLACK_TF_SERVICE_CHANNEL_ID:}
    username: ${SLACK_TF_WEBHOOK_USERNAME:Recruit_알림요정}
    icon-url: ${SLACK_TF_WEBHOOK_ICON_URL:}

ncp:
  service-id: ${NCP_SERVICE_ID:}
  access-key: ${NCP_ACCESS_KEY:}
  secret-key: ${NCP_SECRET_KEY:}
  plus-friend-id: ${NCP_PLUS_FRIEND_ID:}

---
spring:
  config:
    activate:
      on-profile: dev
---
spring:
  config:
    activate:
      on-profile: prod